.main_div{
  width: vw;
    background-color: #f4f4f4;
  padding-left: 22%;
}

.heading {
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 2%;
}

.emptydiv {
  margin-top: 100px;
}
.getstarted {
  padding: 5% 0 10% 5%;

}
.para {
  margin-bottom: 1%;
}

.register-right-div-button {
  padding: 12px 15px;
  margin-top:2%;
  width: 150px;
  display: flex;
  align-items: center;
}
.btn-heading {
        font-size: 16px;
        font-weight: 500;

}

