.hero2 {
  background-color: #eef1f6;
  margin: 2vh;
}

.hero2-div1 {
  width: 100%;
  margin-left: 5vh;
}

.hero2-div2 {
  width: 100%;
  height: 50vh;
}

.hero2-div2-img {
  width: 100%;
  height: 100%;
}

.hero2-div1-div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 77%;
  justify-content: space-between;
  margin: 3vh 0 3vh 0;
}

@media only screen and (min-width: 992px) {
  .hero2 {
    background-color: #eef1f6;
    margin: 5vh 5vh 5vh 5vh;
    display: flex;
  }

  .hero2-div1 {
    width: 50%;
    margin-left: 5vh;
  }

  .hero2-div2 {
    width: 50%;
    height: 50vh;
  }

  .hero2-div2-img {
    width: 100%;
    height: 100%;
  }

  .hero2-div1-div {
    display: flex;
    flex-direction: column;

    width: 77%;
    justify-content: space-between;
    margin: 3vh 0 3vh 0;
  }
}

@media only screen and (min-width: 1200px) {
  .hero2 {
    background-color: #eef1f6;
    margin: 5vh 10vh 5vh 10vh;
    display: flex;
  }

  .hero2-div1 {
    width: 50%;
    margin-left: 5vh;
  }

  .hero2-div2 {
    width: 100%;
    height: 50vh;
  }

  .hero2-div2-img {
    width: 100%;
    height: 100%;
  }

  .hero2-div1-div {
    display: flex;

    width: 77%;
    justify-content: space-between;
    margin: 3vh 0 3vh 0;
  }
}

@media only screen and (min-width: 1600px) {
  .hero2 {
    background-color: #eef1f6;
    margin: 5vh 19vh 5vh 19vh;
    display: flex;
  }

  .hero2-div1 {
    width: 50%;
    margin-left: 5vh;
  }

  .hero2-div2 {
    width: 50%;
    height: 50vh;
  }

  .hero2-div2-img {
    width: 100%;
    height: 100%;
  }

  .hero2-div1-div {
    display: flex;
    flex-direction: row;
    width: 77%;
    justify-content: space-between;
    margin: 3vh 0 3vh 0;
  }
}
