.duo-component {
  margin-top: 5vh;
}

.duo-component-div {
  background-image: linear-gradient(to right,
      black,
      transparent);
  /* Gradient from red to yellow */
  // height: 60vh;
  opacity: 1;
  display: flex;
}

.duo-div1 {
  color: #fff;
  margin-left: 10vh;
  width: 50%;
}

.duo-div1-h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  padding-top: 5vh;
}

.duo-div1-div-search {
  display: flex;
  width: 90%;
  justify-content: space-between;
  gap: 1vh;
  margin-top: 3vh;

}

.duo-div1-div-search-button {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: flex-end;
  // margin-top: 2.3vh;
}

.duo-div1-detail {
  color: #c6c6c6;
  font-size: 20px;
  font-weight: 400;
  padding-top: 30vh;
}

.duo-div1-p {
  color: #c6c6c6;
  font-size: 20px;
  font-weight: 400;
  padding-top: 5vh;
}

.duo-div1-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5vh;
  margin-top: 2vh;
  height: 10vh;
}

.duo-div1-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
  width: 40vh;
  padding: 5px 5px;
}

.duo-div1-button2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
  width: 40vh;
  padding: 5px 5px;
  background-color: transparent;
  border: 1px solid white;
  margin-left: 2vh;
}

.duo-div1-button-h5 {
  color: #fff;
}

.duo-div1-button-i {
  font-size: 30px;
}

.duo-div2 {
  color: #fff;

  margin: 5.5vh;
  width: 50%;
}

.duo-div2-img {
  color: #fff;

  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {

  .duo-component {
    margin-top: 5vh;
  }

  .duo-component-div {
    background-image: linear-gradient(to right,
        black,
        transparent);
    /* Gradient from red to yellow */
    // height: 60vh;
    opacity: 1;
    display: flex;
    flex-direction: column-reverse;
    // justify-content: center;
  }

  .duo-div1 {
    color: #fff;
    margin: 0 5vh;
    width: 85%;
  }


  .duo-div1-h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    padding-top: 5vh;
  }

  .duo-div1-detail {
    color: #c6c6c6;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10vh;
  }


  .duo-div1-div-search {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1vh;
    margin-top: 3vh;
  }

  .duo-div1-div-search-button {
    width: 100%;
    max-width: 100%;
  }

  .duo-div1-div-search-button button {
    width: 100%;
    max-width: 100%;
  }


  .duo-div2 {
    color: #fff;

    margin: 0 5vh;
    width: 85%;
  }

  .duo-div2-img {
    color: #fff;

    height: 100%;
    width: 100%;
  }



}

@media only screen and (min-width: 501px) and (max-width: 800px) {

  .duo-component {
    margin-top: 5vh;
  }

  .duo-component-div {
    background-image: linear-gradient(to right,
        black,
        transparent);
    /* Gradient from red to yellow */
    // height: 60vh;
    opacity: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .duo-div1 {
    color: #fff;
    margin: 0 5vh;
    width: 85%;
  }


  .duo-div1-h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    padding-top: 5vh;
  }

  .duo-div1-detail {
    color: #c6c6c6;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10vh;
  }


  .duo-div1-div-search {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1vh;
    margin-top: 3vh;
  }

  .duo-div1-div-search-button {
    width: 100%;
    max-width: 100%;
  }

  .duo-div1-div-search-button button {
    width: 100%;
    max-width: 100%;
  }


  .duo-div2 {
    color: #fff;

    margin: 0 5vh;
    width: 85%;
  }

  .duo-div2-img {
    color: #fff;

    height: 100%;
    width: 100%;
  }



}

@media only screen and (min-width: 801px) and (max-width: 1000px) {

  .duo-div1-detail {
    color: #c6c6c6;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10vh;
  }

  .duo-div1-div-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1vh;
    margin-top: 3vh;

  }

  .duo-div1-div-search-button {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.6vh;
  }

  .duo-div1 {
    color: #fff;
    margin-left: 5vh;
    width: 85%;
  }

  .duo-div2 {
    color: #fff;

    margin-right: 5vh;
    width: 85%;
  }
}