.lead-space2 {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 5vh 5vh 5vh 5vh;
}

.lead-space2-h {
  margin-top: 3vh;
  font-size: 60px;
  font-weight: 300;
}
.lead-space2-p {
  margin-top: 3vh;
}

.lead-space2-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 3vh;
}

@media only screen and (min-width: 800px) {
  .lead-space2 {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 5vh 10vh 15vh 0;
  }

  .lead-space2-p {
    margin-top: 3vh;
  }

  .lead-space2-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
  }
}
