.lead-space2 {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 5vh 10vh 15vh 0;
}

.lead-space2-p {
  margin-top: 3vh;
}

.lead-space2-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}
