.register-bar {
  background-color: #d9fbfb;
  display: flex;
}
.register-bar-left {
  width: 50%;
  margin-left: 19vh;
  padding: 3vh 0 3vh 0;
}

.register-bar-right {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.register-bar-left h3 {
  font-size: 30px;
  font-weight: 600;
}

.register-bar-left p {
  font-size: 30px;
  font-weight: 300;
  padding-right: 13vh;
}

.register-bar-right Button {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.register-right-div-button {
  font-size: 15px;
  padding: 1vh 1vh;
  margin-top: 3vh;
  width: 80vh;
}
.register-bar-right Button i {
  font-size: xx-large;
}
