.error-404 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-404-h {
  font-size: 100px;
  font-weight: 700;
}

.error-404-a {
  margin: 5vh;
}
