.inside {
  margin: 5vh;
}

.inside-div1 {
  width: 39%;
}

.inside_div1-h {
  font-size: 20px;
}

.inside-div2 {
  margin: 0;
}

.inside-div2-p {
  width: 100%;
  font-size: 20px;
}

.inside-div2-a {
  display: flex;
  margin: 3vh 0 0 0;
}

.inside-div2-a-p:hover {
  text-decoration: underline;
}

@media only screen and(min-width:480px) {
  .inside {
    margin: 5vh 10vh 5vh 10vh;
  }

  .inside-div1 {
    width: 100%;
  }

  .inside_div1-h {
    font-size: 20px;
  }

  .inside-div2 {
    margin: 0;
  }

  .inside-div2-p {
    width: 100%;
    font-size: 20px;
  }

  .inside-div2-a {
    display: flex;
    margin: 3vh 0 0 0;
  }

  .inside-div2-a-p:hover {
    text-decoration: underline;
  }
}

@media only screen and(min-width:900px) {
  .inside {
    margin: 5vh 10vh 5vh 10vh;
    display: flex;
  }

  .inside-div1 {
    width: 100%;
  }

  .inside_div1-h {
    font-size: 20px;
  }

  .inside-div2 {
    margin: 0;
  }

  .inside-div2-p {
    width: 100%;
    font-size: 20px;
  }

  .inside-div2-a {
    display: flex;
    margin: 3vh 0 0 0;
  }

  .inside-div2-a-p:hover {
    text-decoration: underline;
  }
}

@media only screen and(min-width:1450px) {
  .inside {
    margin: 5vh 25vh 5vh 25vh;
    display: flex;
  }

  .inside-div1 {
    width: 37%;
  }

  .inside_div1-h {
    font-size: 20px;
  }

  .inside-div2 {
    margin: 0;
  }

  .inside-div2-p {
    width: 100%;
    font-size: 20px;
  }

  .inside-div2-a {
    display: flex;
    margin: 3vh 0 0 0;
  }

  .inside-div2-a-p:hover {
    text-decoration: underline;
  }
}
