a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

nav {
  display: flex;
  align-items: center;
  max-width: 1500px;
  height: 4rem;
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 999;
  font-family: 'Open Sans';
}

.hamburger {
  display: flex;
  align-items: center;
  margin-left: 3vh;
}

.toggle-menu,
.close-menu {
  display: none;
}

.logo {
  height: 5vh;
  width: 4vh;
}

.nav-list {
  display: flex;
  margin: 2rem;
}

.nav-item {
  padding: 1rem 1.5rem;
}

.nav-item:hover {
  background-color: #eae9ec;
}

.nav-link {
  font-weight: 500;
  color: #544756;
}

.dropdown-link {
  display: flex;
  align-items: center;
}

.dropdown-icon {
  font-size: 1rem;
}

.mega-menu {
  position: absolute;
  width: 100%;
  top: 4rem;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
  z-index: -99;
  visibility: visible;
  opacity: 1;
  border-top: 1px solid #bbb8c3;
}

.mega-menu-1 {
  color: black;
  border-right: 1px solid #bbb8c3;
  padding-right: 10vh;
}

.mega-menu-1-item {
  display: flex;
  align-items: center;
  color: #4f4c55;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.mega-menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.header-mega-menu {
  font-weight: 400;
  color: #4f4c55;
  margin-bottom: 0.2rem;
  font-size: 20px;
}

.header-mega-menu-h {
  font-weight: 400;
  color: #4f4c55;
  font-size: 20px;
}

.header-mega-menu-p {
  font-weight: 300;
  color: #4f4c55;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.menu-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #efeef1;
  margin-right: 0.5rem;
}

.menu-icon i {
  line-height: 32px;
  font-size: 22px;
  color: #1063fe;
}

.mega-menu-link a {
  font-weight: 500;
  color: #000;
}

.mega-menu-link a:hover {
  color: #1063fe;
}

.mega-menu-link p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #898395;
}

// .dropdown:hover .mega-menu {
//   color: #1063fe;
//   visibility: visible;
//   transition: all 0.3s ease;
//   opacity: 1;
// }

.header-mega-menu-h:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media screen and (max-width: 992px) {
  .mega-menu {
    justify-content: start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .mega-menu {
    flex-direction: column;
    position: static;
    box-shadow: none;
    border-radius: 0;
    height: 0;
    max-width: 350px;
    overflow: hidden;
  }

  .dropdown:hover .mega-menu {
    height: 100%;
  }

  .nav-list {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 350px;
    top: 0;
    background-color: #fff;
    flex-direction: column;
    overflow-x: hidden;
    display: block;
    transition: 0.3s;
  }

  .toggle-menu,
  .close-menu {
    display: block;
  }

  .close-menu {
    margin: 1rem 1rem 1rem auto;
    background-color: #1063fe;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
  }

  .close-menu:hover {
    color: #632e70;
  }

  .close-menu i {
    line-height: 32px;
    color: #fff;
    font-size: 22px;
  }

  .show-menu {
    left: 0;
  }
}
