a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 4rem;
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 999;
}

.toggle-menu,
.close-menu {
  display: none;
}

.logo a {
  font-size: 1.75 rem;
  font-weight: 700;
  color: #000;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 1.5rem;
  padding: 1.4rem 0;
}

.nav-link {
  font-weight: 500;
  color: #544756;
}
.nav-link:hover {
  color: #a92ec8;
}
.dropdown-link {
  display: flex;
  align-items: center;
}
.dropdown-icon {
  font-size: 1rem;
}

.mega-menu {
  position: absolute;
  width: 100%;
  top: 4rem;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
  z-index: -99;
  visibility: hidden;
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.mega-menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header-mega-menu {
  font-weight: 600;
  color: #a8a1b5;
  margin-bottom: 1rem;
}

.menu-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #efeef1;
  margin-right: 0.5rem;
}

.menu-icon i {
  line-height: 32px;
  font-size: 22px;
  color: #a92ec8;
}

.mega-menu-link a {
  font-weight: 500;
  color: #000;
}
.mega-menu-link a:hover {
  color: #a92ec8;
}

.mega-menu-link p {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #a8a1b5;
}

.dropdown:hover .mega-menu {
  color: #a92ec8;
  visibility: visible;
  transition: all 0.3s ease;
  opacity: 1;
}

.nav-item:hover .dropdown-icon {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

@media screen and (max-width: 992px) {
  .mega-menu {
    justify-content: start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .mega-menu {
    flex-direction: column;
    position: static;
    box-shadow: none;
    border-radius: 0;
    height: 0;
    max-width: 350px;
    overflow: hidden;
  }
  .dropdown:hover .mega-menu {
    height: 100%;
  }
  .nav-list {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 350px;
    top: 0;
    background-color: #fff;
    flex-direction: column;
    overflow-x: hidden;
    display: block;
    transition: 0.3s;
  }
  .toggle-menu,
  .close-menu {
    display: block;
  }
  .toggle-menu i:hover {
    color: #a92ec8;
  }
  .close-menu {
    margin: 1rem 1rem 1rem auto;
    background-color: #a92ec8;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
  }
  .close-menu:hover {
    color: #632e70;
  }
  .close-menu i {
    line-height: 32px;
    color: #fff;
    font-size: 22px;
  }
  .show-menu {
    left: 0;
  }
}
