.job-featured {
  background-color: #f2f4f8;
  display: flex;
  padding-bottom: 5vh;
}

.job-featured-div1 {
  width: 33%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.job-featured-div2 {
  width: 60%;
}

.job-featured-div2-heading {
  margin: 10vh 0 5vh 0;
}
.job-featured-div2-p {
  margin-top: 3vh;
  font-size: 18px;
}
.job-featured-tile-div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1vh;
}

.job-featured-tile {
  background-color: #fff;
  width: 100%;
  margin: 1vh;
}

.job-featured-tile:hover {
  background-color: #ddd;
  width: 40vh;
}
.tile-heading {
  font-size: 25px;
}
.tile-address {
  margin: 10vh 0 1vh 0;
}
.job-featured-button {
  margin: 5vh 0 5vh 1vh;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .job-featured {
    flex-direction: column-reverse;
  }
  .job-featured-tile-div {
    display: grid;
    grid-template-columns: 100%;
    gap: 1vh;
  }
  .job-featured-tile {
    background-color: #fff;
    width: 100vh;
    margin: 1vh;
  }
  .job-featured-div2 {
    width: 100%;
  }
  .job-featured-div2-heading {
    margin: 10vh 5vh 5vh 4vh;
  }
  .job-featured-div2-heading h1 {
    font-size: 35px;
  }
  .job-featured-button {
    margin: 4vh 0 2vh 3vh;
  }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  .job-featured {
    flex-direction: column-reverse;
  }
  .job-featured-tile-div {
    display: grid;
    grid-template-columns: auto auto;

    gap: 1vh;
  }
  .job-featured-div2 {
    width: 100%;
  }

  .job-featured-div2-heading {
    margin: 10vh 5vh 5vh 11vh;
  }

  .job-featured-tile-div {
    margin: 0 5vh 5vh 10vh;
  }

  .job-featured-tile {
    background-color: #fff;
    width: 90%;
    margin: 1vh;
  }

  .job-featured-button {
    margin: 0 5vh 5vh 11vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .job-featured {
    flex-direction: column-reverse;
  }
  .job-featured-tile-div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1vh;
  }

  .job-featured-div2 {
    width: 100%;
  }

  .job-featured-div2-heading {
    margin: 10vh 5vh 5vh 11vh;
  }

  .job-featured-tile-div {
    margin: 0 5vh 5vh 10vh;
  }
  .job-featured-tile {
    background-color: #fff;
    width: 90%;
    margin: 1vh;
  }
  .job-featured-button {
    margin: 0 5vh 5vh 11vh;
  }
}

@media only screen and (min-width: 990px) {
  .job-featured {
    display: flex;
    padding-bottom: 5vh;
  }

  .job-featured-div1 {
    width: 33%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }
  .job-featured-div2 {
    width: 60%;
  }

  .job-featured-div2-heading {
    margin: 10vh 0 5vh 0;
  }
  .job-featured-div2-p {
    margin-top: 3vh;
    font-size: 18px;
  }
  .job-featured-tile-div {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    gap: 1vh;
  }

  .job-featured-tile {
    background-color: #fff;
    width: 100%;
    margin: 1vh;
  }

  .job-featured-tile:hover {
    background-color: #ddd;
    width: 40vh;
  }
  .tile-heading {
    font-size: 25px;
  }
  .tile-address {
    margin: 10vh 0 1vh 0;
  }
  .job-featured-button {
    margin: 5vh 0 5vh 1vh;
  }
}
