.service-scroll-1 {
  display: flex;
  margin: 0 24vh 0 24vh;
}

.service-scroll-1-div1 {
  width: 26%;
  padding: 3vh;
}
.service-scroll-1-div2 {
  width: 74%;
}
.service-scroll-1-div2-h {
  margin: 3vh 2vh 3vh 0;
  width: 60%;
}
.service-scroll-1-div2-p {
  margin: 3vh 2vh 5vh 0;
  width: 60%;
}
