.studies {
  display: flex;
  padding: 0 0 5vh 0;
}

.studies-div1 {
  width: 33%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.studies-div2 {
  width: 60%;
}

.studies-div2-heading {
  margin: 10vh 0 5vh 0;
  width: 60%;
}
.studies-div2-heading-h {
  font-size: 60px;
}
.studies-div2-p {
  margin-top: 3vh;
  font-size: 18px;
  line-height: 1.5;
}
.studies-tile-div {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1vh;
}

.studies-tile {
  width: 40vh;
}
.studies-tile-img {
  width: 100%;
}

.studies-tile-heading {
  font-size: 25px;
  font-weight: 500;
}
.studies-tile-address {
  margin: 5vh 0 1vh 0;
}
.studies-button {
  margin: 5vh 0 5vh 1vh;
}
