.job-apply {
  background-color: #e5f6ff;
  padding: 4vh 0 5vh 24vh;
}

.job-apply-heading {
  font-size: 60px;
  color: black;
  font-weight: 350;
  width: 100vh;
}

.job-apply-div2 {
  display: flex;
  gap: 4vh;
  margin-top: 5vh;
}

.job-apply-div2-h3 {
  font-size: 16px;
  font-weight: 400;
}

.job-apply-div3 {
  display: flex;
  gap: 10vh;
  margin-top: 5vh;
}
.job-apply-div3-div2 {
  display: flex;
  justify-content: space-between;
  width: 15vh;
  align-items: center;
}
